:root {
  --black: rgba(0, 0, 0, 1);
  --green: #129b4c;
  --darkGreen: #086d32;
  --borderColor: #e0e0e0;
  --offWhite: #f9f9f9;
  --silver: #f5f7fa;
  --lightGrey: #727272;
  --darkGrey: #1b1b1b;
  --letterSpacing: 0.04rem;
  --transition: 500ms ease-in-out;
  --boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  --cardBorderRadius: 16px;
  --transition: 500ms ease-in-out;
  --paragraphSize: 1rem;
  --fontGrey: #707070;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--darkGreen);
}
h6 {
  margin: 0;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.icon-logo {
  position: absolute !important;
  top: 2px !important;
}
textarea {
  font-family: "Poppins", sans-serif;
}
input {
  font-family: "Poppins", sans-serif;
}
select {
  font-family: "Poppins", sans-serif;
}

.error {
  text-align: center;
  color: red;
}
.success {
  color: green;
  text-align: center;
}
.left-align {
  text-align: left;
}
/* fonts global styles */
h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 4.8rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
h2 strong {
  background-image: linear-gradient(
    to right bottom,
    #149c4f,
    #00aa8e,
    #00b3c7,
    #00b7ee,
    #72b7ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

h3 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h3 strong {
  background-image: linear-gradient(
    to right bottom,
    #149c4f,
    #00aa8e,
    #00b3c7,
    #00b7ee,
    #72b7ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}
@media (max-width: 500px) {
  h4 {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

h4 strong {
  color: var(--darkGrey);
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
@media (max-width: 500px) {
  h5 {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}

h5 strong {
  color: var(--darkGrey);
  font-weight: 500;
}
.light-strong-color strong {
  color: white !important;
}

/* accordion */
.accordion h2 {
  line-height: 1rem;
}
