:root {
  --black: rgba(0, 0, 0, 1);
  --green: #129b4c;
  --offWhite: #f9f9f9;
  --silver: #f5f7fa;
  --lightGrey: #727272;
  --darkGrey: #1b1b1b;
  --letterSpacing: 0.04rem;
  --transition: 500ms ease-in-out;
  --boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  --cardBorderRadius: 16px;
  --transition: 500ms ease-in-out;
  --paragraphSize: 1rem;
  --fontGrey: #707070;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--darkGreen);
}
h6 {
  margin: 0;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.icon-logo {
  position: absolute !important;
  top: 2px !important;
}
textarea {
  font-family: "Poppins", sans-serif;
}
input {
  font-family: "Poppins", sans-serif;
}
select {
  font-family: "Poppins", sans-serif;
}

.error {
  text-align: center;
  color: red;
}
.success {
  color: green;
  text-align: center;
}
.left-align {
  text-align: left;
}
